/**********************/
/* Universal Code */
/**********************/

body {
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
}

.container{
    padding-left: 24px;
}

.container,
.story{
    display: flex;
    justify-content: center;
    align-items: center;
}

a,
.fa{
  transition: color 300ms linear;  
}

a:hover,
a:active{
    color: #3498db;
}

@media (max-width: 801px){
    .container{
        padding: 0;
        margin: 0 auto;
    }
}

/* Headings */
h1,
h2,
h3,
h5 {
    font-family: 'Oswald', serif;
}

h1{
    font-size: 3.5rem;
}

h2{
    font-size: 2.5rem;
}

h3{
    font-size: 1.75rem;
}

h5{
    font-size: .9rem;
}

@media (max-width: 801px){
    h1{
        font-size: 2.5rem;
    }
    
    h2{
        font-size: 2rem;
    }
    
    h3{
        font-size: 1.25rem;
    }
}

/* Borders */

.first{
    border-bottom: 1px solid #dbddde;
    border-top: none;
}

.story,
footer {
    border-top: 1px solid #dbddde;
}

/*********************/
/* Header Nav */
/*********************/

header{
    display: flex;
    height: 64px;
    width: 100%;
    border-bottom: 1px solid #000;
}

header .container{
    width: 100%;
}

header .container,
footer .container{
    justify-content: space-between;
    align-items: center;
    margin: 0 24px;
    padding: 0;
}

.logo{
    display: inline-flex;
    justify-content: center;
    align-content: center;
}

.logo img,
.logo h1 {
    display: inline-block;
}

.logo h1 {
    font-size: 1.75rem;
    text-transform: uppercase;
}

.logo img{
    margin: 0 auto;
}

.highlight{
    color: #2980b9;
}

nav span{
    margin-right: 16px;
}

nav span:last-child{
    margin: 0;
}

nav i{
    margin-left: 5px;
}

.mobile-nav{
    display: none;
}

@media (max-width: 801px){
    
    header{
        position: fixed;
        z-index: 20;
        background: rgba(255, 255, 255, 0.99);
    }
    
    header .container{
        margin: 0 auto;
        padding: 0;
    }
    
    .logo {
        display: none;
    }
    
    nav {
        display: none;
    }
    
    .mobile-nav{
        display: flex;
        justify-content: space-around;
        align-content: center;
        align-items: baseline;
        width: 100%;
    }
}

/**********************/
/* Jumbotron */
/**********************/

.jumbotron,
.learning,
.articles .story:last-child,
.thesis .story:first-child{
    background-color: #34495e;
    color: #fff;
}

.jumbotron .container img{
    width: 60%;
    height: auto;
    margin: 32px 24px 32px 0;
}

.content {
    width: 40%;
    height: 200px;
    padding-right: 48px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.btn {
    background: #2980b9;
    padding: 8px 0;
    margin: 0;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 750ms linear;
}

.btn a {
    color: #fff;
    text-decoration: none;
}

.btn:hover,
.btn:active {
    background: #3498db;
}

@media (max-width: 801px){
    .jumbotron{
        padding-top: 64px;
    }
    
    .jumbotron .container{
        flex-direction: column;
    }
    
    .jumbotron .container img{
        width: 100%;
        padding: 0;
        margin: 0 auto;
    }
    
    .content {
        width: 90%;
        height: auto;
        padding: 32px 16px;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
    }
    
    .content h1{
        margin-bottom: 32px;
    }
    
    .content p{
        margin-bottom: 24px;
    }
    
    .btn{
        width: 50%;
        margin: 0 auto;
    }
}

/******************************/
/* Articles */
/******************************/

/* Main */

.main {
    width: 60%;
}

.main img,
.main video{
    width: 100%;
    height: auto;
    margin: 32px 0;
}

.main .text h2,
.main .text p {
    margin-bottom: 24px;
}

.main .text h5,
.thesis .main .text p{
    margin-bottom: 32px;
}

/* Side */

.side {
    width: 40%;
    border-left: 1px solid #dbddde;
    margin-left: 24px;
}

.first {
    margin-top: 32px;
    border: 0px;
}

.story img{
    width: 35%;
    height: auto;
    display: inline-block;
    margin: 16px;
}

.mobile {
        display: none !important;
    }

.story .text {
    width: 65%;
}

.story .text h3,
.story .text p {
    margin-bottom: 8px;
}

.story:last-child{
    margin-bottom: 32px;
}

@media (max-width: 801px){
    .articles .main{
        display: none;
    }
    
    .articles .side{
        border: 0px;
        width: 100%;
        margin: 0 16px;
        padding: 0;
    }
    
    .articles .story{
        border: 0px;
    }
    
    .articles .story:last-child{
        background: #fff;
        color: #000;
    }
    
    .story{
        flex-direction: column;
    }
    
    .story img{
        width: 100%;
        height: auto;
        padding: 16px;
    }
    
    .story .text{
        width: 100%;
        padding: 0 32px;
        margin-bottom: 64px;
    }
    
    .story .text:last-child{
        margin-bottom: 32px;
    }
    
    .desktop {
        display: none !important;
    }
    
    .mobile {
        display: block !important;
    }
}

/******************************/
/* Learning */
/******************************/

.learning h2,
.thesis h2{
    text-align: center;
}

.learning h2{
     padding-top: 32px;
}

.learning .container{
    padding: 32px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    background: #fff;
    margin: 32px 16px;
    width: 25%;
    overflow: hidden;
    height: 350px;
    color: #000;
}

.card img{
    height: auto;
    width: 100%;
}

.card-text{
    padding: 0 16px 24px 16px;
}

.card-text h3{
    padding: 16px 0;
}

.card-text p{
    padding: 8px 0;
}

@media (max-width: 801px){
    
    .learning h2,
    .thesis h2{
        padding: 32px 0 16px 0;
    }
    
    .learning .container{
        flex-direction: column;
    }
    
    .card img,
    .card p{
        display: none;
    }
    
    .card{
        width: 90%;
        height: auto;
        padding: 16px 16px 24px 16px;
        margin: 8px 0;
    }
    
    .card-text{
        padding: 0;
        margin: 0 auto;
    }
    
    .card:first-child{
        margin-top: 0;
    }
    
    .card:last-child{
        margin-bottom: 32px;
    }
}

/******************************/
/* Thesis */
/******************************/

.thesis h2{
     padding: 32px 0;
}

.thesis .side,
.thesis .story{
    border: none;
}

.thesis .main h3{
    margin-bottom: 8px;
}

.thesis .story:last-child{
    background: #fff;
}

@media (max-width: 801px){
    
    .thesis .side{
        display: none;
    }
    .thesis .main{
        width: 100%;
        height: auto;
        padding: 0;
        margin: 0 auto;
    }
    
    .thesis .main .text{
        display: none;
    }
    
    .main video{
        margin: 0 auto 24px auto;
    }
}

/******************************/
/* Footer */
/******************************/

footer{
    font-size: 90%;
    background-color: #2c3e50;
    color: #fff;
}

footer a{
    color: #fff;
}

footer .container{
    padding: 16px 0 32px;
}

footer span,
footer i{
    padding: 0 8px;
}

.fa-facebook:hover,
.fa-facebook:active{
    color: #3b5998;
}

.fa-twitter:hover,
.fa-twitter:active{
    color: #55acee;
}

.fa-google-plus:hover,
.fa-google-plus:active{
    color: #dd4b39;
}

@media (max-width: 801px){
    footer .container{
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
    } 
    
    footer p{
        padding: 16px 0;
    }
    
    footer span{
        display: none;
    }
}